
.purpleborder{border:5px solid purple;}

.marginbox {padding-top: 10px; margin-top: 22px;}

.margintop {margin-top: 18px;}

.black {background-color: black;}

.blacktext {color: black;}

.white {background-color: rgb(246, 247, 244);}

.whiter {background-color: white;}

.centertext {text-align: center;}

.bone {background-color: rgb(251, 255, 229);}

.mainborder {border: solid: rgb(246, 247, 244);}

.paddingleft {padding-left: 26px; padding-right: 26px;}

.home {font-size: 1.2em;}

figcaption {font-family: 'Rufina', serif; font-size: 1.2em; margin-top: 5%; margin-bottom: 5%}

h1 {font-family: 'Shadows Into Light Two', cursive; font-size: 7em;}

h2 {font-family: 'Marck Script', cursive;}

h3 {font-family: 'Rufina', serif; font-size: 2em;}

h4 {font-family: 'Rufina', serif; padding: 1%;}

p {font-family: 'Rufina', sans-serif; font-size: 1.5em; padding: 10px;}

.p {padding: 0px;}

/* ////////Design////////// */

.clickme {
  background-color: rgb(255, 245, 183);
  color: black;
  font-size: 1.2em;
  padding: 2%;
  border-radius: 20%;
}

.portfolio {
  background-color: rgb(255, 245, 183);
  color: black;
  font-size: 2.6em;
  padding: 2%;
  border-radius: 20%;
}

h4 a:hover {
  background-color: rgb(255, 205, 119);
  color: black;
}

a figcaption:hover{
  background-color: rgb(255, 205, 119);
  color: black;
}

/* //////nav///// */

ul {
  margin: 10px 20px 5px 20px;
  text-align: center;
}

li {
  font-family: 'Shadows Into Light Two', cursive;
  list-style-type: none;
  text-align: center;
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
}

nav a:hover{
  color: rgb(188, 138, 0);
}

nav a.current{
  color: rgb(145, 139, 127);
}
