
.purpleborder{border:5px solid purple;}

.marginbox {margin-top: 30px;}

.black {background-color: black;}

.white {background-color: white}

.centertext {text-align: center;}

h1 {font-family: 'Marck Script', cursive;}

h2 {font-family: 'Rufina', serif; padding: 1%;}

h4 {font-family: 'Rufina', serif; padding: 1%;}
